*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.idea/
/gradle/
/gradlew
/gradlew.bat
/.debugger.renderers.xml
/.debugger.xml
/.editor.xml
/.filetypes.xml
/.find.xml
/.ide.general.xml
/.ui.lnf.xml
/.usageView.xml
/.idea/misc.xml
.externalNativeBuild
.cxx